body {
    @apply font-primary;
}

#home {
    @apply text-white bg-primary min-h-screen h-full w-full;
}

h1 {
    @apply !font-extrabold !text-7xl;
}

p {
    @apply !font-semibold !text-2xl;
}

select,
button,
body div.custom-select {
    @apply transition-all cursor-pointer rounded-2xl h-16 !px-2 !text-center !font-extrabold !text-xl;
}

div.custom-select.opened {
    @apply rounded-b border-primary-alt !bg-primary-alt;
}
