body {
    @apply font-primary;
}

header {
    @apply p-5 text-white items-center z-10 flex fixed w-full left-0 top-0 bg-primary-alt;
}

#home {
    @apply text-white bg-primary;
}

.content {
    @apply text-black bg-pure-white h-screen w-full py-28 px-5;
}

h1 {
    @apply !font-bold !text-4xl;
}

/* Forms */

select,
button {
    @apply text-center h-14 !rounded-2xl;
}
